# Virtual environment
gesture_env/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE configs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Build/dist
build/
dist/
*.egg-info/
